:root {
  --left-spacing: 260px;
  --trim-border: #585858;
  --trim-border-active: #FFCD00;
  --color-1: #c4c4c4;
  --color-2: #020d1c;
}

*  {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none !important;
}

body {
  background-color: var(--color-1);
  margin-left: var(--left-spacing);
}

ul {
  list-style-type: none;
}

li {
  margin-top: 20px;
  font-size: 30px;
}

h1 {
  color: black;
}

.App {
  text-align: center;
}

.GoogleLogin {
    height:75px;
    width: 92%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.page-margin {
  padding-bottom: 50px;
  margin: 20px 20px 20px 20px !important;
}
