:root {
  --page-margin: 0 auto 0 auto;
  --trim-border: #585858;
  --trim-border-active: #FFCD00;
  --color-1: #ffffff; /*white*/
  --color-2: #020d1c;
  --color-3: #bb0e23; /*red*/
}

*  {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none !important;
}

body {
  background-color: var(--color-1);
}

ul {
  list-style-type: none;
}

li {
  font-size: 30px;
}

h1 {
  color: black;
}

.App {
  text-align: center;
}

.GoogleLogin {
    height:75px;
    width: 100%;
    position: relative;
    text-align: center;
    line-height: 20 px;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.page-margin {
  padding-bottom: 60px;
  margin: var(--page-margin);
  margin-top: 80px;
}
