/* NAVIGATION BAR */
nav {
  overflow: hidden;
  position: fixed;
  z-index: 10;
  top: 0px;
  width: 100%;
  background-color: var(--color-3);
  height: 80px;
  overflow: auto;
  line-height: 80px;
}

.nav-layer-2 {
  white-space: nowrap;
  max-width: 1230px;
  width: 70%;
  margin: 0 auto 0 auto;
  height: 100%;
}

.nav-right {
  display: inline-block;
  float: right;
}

.nav-left {
  display: inline-block;
  float: left;
}

.nav-left h1 {
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: 600;
  color: white;
  white-space: nowrap;
  line-height: 80px;
  float: left;
}

.nav-links {
  margin: 0;
}

.nav-links a li {
  padding: 8px;
  margin-right: 10px;
  display: inline;
  font-size: 16px;
  font-weight: 500;
}

.nav-links a li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-links a {
  color: white;
}


/* Player */
.player-comp {
  background-color: var(--color-2);
  padding: 5px 5px 0 5px;
  display: inline-block;
  margin: 15px 15px 0 0;
  overflow: auto;
}

.player-logo {
  width: 270px;
  height: 270px;
}

.player-bottom {
  /*display: none;*/
}

.player-bottom-background {
  margin-top: 5px;
  background-color: white;
  padding-top: 5px;
}

/* Schedule-Feed */
.schedule-feed {
  white-space: nowrap;
  display: inline-block;
  background-color: green;
  width: 20%;
  height: 500px;
  float: right;
}


/* Sponsor-Icon */
.sponsor-icon {
  background-color: green;
  display: inline-block;
  float: none;
  margin: 15px 15px 0 0;
  width: 300px;
  height: 300px;
}

.sponsor-comp {
  padding: 5px;
}


/* Sponsor-Bar */
.sponsor-background {
  background-color: var(--color-2);
  width: 100%;
  height: 40px;
}

.sponsor-background-2 {
  height: 85%;
  border-bottom: 1px solid var(--trim-border);
}

.sponsor-logo {
  margin-left: 10px;
  height: 95%;
}


/* Video */
.video {
  display: inline-block;
}

.video-component {
  width: 100%;
  height: 100%;
  background-color: green;
}

.video-bottom {
  border: 1px solid black;
  vertical-align: middle;
  height: 90px;
  border-radius: 20px;
  background-color: white;
  padding: 10px;
  overflow: auto;
}

.video-title {
  font-size: 23px;
}

.video-description {
  color: #4a4a4a;
  font-size: 20px;
}

.video-thumbnail {
  width: 100%;
  height: 100%;
}

.video-page-background:hover:not(.video-page-hover) {
  /*transform: scale(1.10);*/
}

/* Premium-Comp */
.premium-comp {
  vertical-align: top;
  display: inline-block;
  margin: 5px 30px 0 0;
  padding: 5px;
  background-color: var(--color-2);
  width: 400px;
}

.premium-comp div {
  background-color: white;
  width: 100%;
  height: 100%;
}

.premium-title {
  background-color: red;
  font-size: 25px;
  padding: 20px 0 20px 0;
  margin: 0;
}

.premium-details {
  padding: 0;
  background-color: white;
}

.premium-details li {
  background-color: #e5e5e5;
  font-size: 15px;
  padding: 20px 0 20px 0;
  margin: 5px 0 5px 0;
}

.premium-background {
  background-color: #c6c5c5 !important;
}

.premium-price {
  background-color: #c6c5c5 !important;
  font-size: 20px !important;
  margin: 0 !important;
}

.premium-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
}


/* Home Video */
.home-page-video {
  white-space: normal;
  vertical-align: top;
  display: inline-block;
  width: 50%;
  min-width: 600px;
}


/* News-Feed */
.news-feed-comp {
  margin-top: 20px;
  display: inline-block;
  width: 450px;
}

.news-feed {
  background-color: var(--color-2);
  padding: 5px 5px 5px 5px;
  width: 100%;
}


/* Stream */
.stream {
  display: inline-block;
  width: 100%;
}

.stream-wrapper {
  min-width: 1500px;
}

.stream-component {
  background-color: red;
}

.stream-live-text {
  position: absolute;
  text-shadow: 2px 2px black;
  top: 5%;
  left: 20%;
  color: red;
  z-index: 2;
}

/* Countdown */
.countdown-body{
  text-align: center;
  background: #041E42;
font-family: sans-serif;
font-weight: 100;
}
.countdown-title{
color:#FFCD00;
font-weight: 100;
font-size: 40px;
margin: 40px 0px 20px;
}
.clockdiv{
  font-family: sans-serif;
  color: #FFCD00;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}
.clockdiv-div{
  padding: 10px;
  border-radius: 3px;
  background: #041E42;
  color: #FFCD00;
  display: inline-block;
}
.clockdiv-div-span{
  padding: 15px;
  border-radius: 3px;
  background: #041E42;
  color: #FFCD00;
  display: inline-block;
}
.smalltext{
  padding-top: 5px;
  font-size: 16px;
  color: white;
}

.meter{
	text-align: center;
}

.arrow {
	position: absolute;
	left:0 px;
	top: -10 px;
}
