.sponsor-background {
  background-color: var(--trim-background);
  width: 100%;
  height: 40px;
}

.sponsor-background-2 {
  height: 85%;
  border-bottom: 1px solid var(--trim-border);
}

.sponsor-logo {
  margin-left: 10px;
  height: 95%;
}
